body {
    font-family: Arial, Helvetica, sans-serif;

    height: 100vh;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
}

.hidden {
    display: none !important;
}

.space-y-md *:not(:last-child) {
    margin-right: 16px;
}

.page {
    display: flex;
    flex-flow: column nowrap;

    height: 100%;
}

.header {
    position: relative;
    background: #000;
    color: #fff;
    padding: 8px 16px;

    flex: 0 0 auto;
}

.header>.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgba(255, 255, 255, 0.8);
}

.header>h1 {
    font-size: 1.5rem;
}

.header .toggle-mode {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);

    padding: 8px;

    color: #fff;
    text-decoration: none;
}

.header .toggle-mode:hover,
.header .toggle-mode:focus {
    text-decoration: underline;
}

.flashcard-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(235, 239, 241, 1) 100%);

    flex: 1 1 auto;

    overflow: hidden;
}

.flashcard {
    border: 1px solid #afafaf;
    border-radius: 4px;
    background: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
    width: 80%;
    height: 100px;
    padding: 16px;
    max-width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;
    transform: translate(0, 0);
}

.flashcard:not(.dragging) {
    transition: transform 0.4s ease-in;
}

.flashcard.left {
    transform: translate(-100vw, 0) !important;
}

.flashcard.right {
    transform: translate(100vw, 0) !important;
}

.entries {
    flex: 1 1 auto;

    overflow-y: scroll;
}

.entries h2 {
    font-size: 1.25rem;
    margin-bottom: 12px;
}

.entries-form-container {
    padding: 16px;
    border-bottom: 1px solid black;
}

.entries-form {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.entries-form>div {
    flex: 1 1 0;
}

.entries-form>div>div:not(:last-child) {
    margin-bottom: 8px;
}

.entries-form label:not(:last-child) {
    display: block;
}

.entries-form textarea,
.entries-form input {
    display: block;
    width: 100%;
}

.entries-list-container {
    padding: 16px;
}

.entries-list-header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin-bottom: 16px;
}

.entries-list-header>*:not(:last-child) {
    margin-right: 8px;
}

.entries-list-header h2 {
    margin: 0;
}

.entries-list {
    margin: 0 -16px 0 -16px;
    padding: 0;

    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.entries-list li {
    padding: 8px 16px;
    list-style-type: none;
    cursor: pointer;

    transition: background 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.0);
}

.entries-list li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.entries-list li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.entries-list li .language {
    padding: 2px;
    margin-right: 4px;
    background: rgba(0, 0, 0, 0.2);

    font-size: 0.8rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);

    border-radius: 4px;
}

.entries-list li .contents {
    font-size: 1.25rem;
}

.entries-list li .translations {
    margin-left: 20px;
    font-style: italic;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
}